{% extends "base/base.html" %}
{% load i18n %}
{% block content %}

    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>Login</h1>
            <form method="post" action=".">
                {% csrf_token %}
                <div class='form-group'>
                    <input type='text' class='form-control' name='username' placeholder='Username' />
                </div>
                <div class='form-group'>
                    <input type='password' class='form-control' name='password' placeholder='Password' />
                </div>
                {{ form.errors }}
                <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Acceder' %}" />
            </form>
        </div>
    </div>
    <hr/>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3 text-align-center'>
            <p>{% trans "No estas registrado? " %}<a href="{% url 'UsuarioApp:Registrarse' %}">{% trans "Regístrate!" %}</a></p>
        </div>
    </div>

{% endblock %}