{% extends 'base/base.html' %}

{% block content %}
    <div class="mu-schedule-area">
        <form method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="first_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control" type="text" name="last_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input class="form-control" type="text" name="username">
                        {{ form.username.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" name="password1">
                        {{ form.password1.errors }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-md-offset-2" >
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LeJmLkUAAAAAEIx_XZ4hhK6BJ3JlclhBoSHmfH8"></div>
            </div>



            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Confirmar contraseña</label>
                        <input class="form-control" type="password" name="password2">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <button class="btn btn-primary" value="submit" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

<html>
<head>
    <title>reCAPTCHA demo: Explicit render after an onload callback</title>
    <script type="text/javascript">
        var onloadCallback = function() {
            grecaptcha.render('html_element', {
                'sitekey' : '6LeJmLkUAAAAAEIx_XZ4hhK6BJ3JlclhBoSHmfH8'
            });
        };
    </script>
</head>
<body>
<form action="?" method="POST">
    <div id="html_element"></div>
    <br>
    <input type="submit" value="Submit">
</form>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
</body>
</html>