{% extends 'base/base.html' %}

{% block content %}
    <div class="mu-schedule-area">
        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="first_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control" type="text" name="last_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input class="form-control" type="text" name="username">
                        {{ form.username.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" name="password1">
                        {{ form.password1.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Confirmar contraseña</label>
                        <input class="form-control" type="password" name="password2">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}