{% extends 'base/base.html' %}

{% block tittle %}
    Tú opinión
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <legend>Ingresa tu opinión</legend>
        <fieldset class="form-group has-success">

            <div>
                <label for="{{ form.pre1.id_for_label }}" class="col-lg-2 control-label">¿Cúal es tu opinión acerca del aborto?</label>
                <div class="form-group col-lg-3">
                    <input type="text" class="form-control" {{ form.pre1 }}
                </div>
            </div>

            <div>
                <label class="col-lg-0"> {{ form.pre1.errors }} </label>
            </div>
        </fieldset>
        <fieldset class="form-group has-error">
            <label class="col-lg-0"> {{ form.pre2.errors }} </label>
            <label for="{{ form.pre2.id_for_label }}" class="col-lg-2 control-label">Ingrese la opinion 2:</label>
            <div class="form-group col-lg-3">
                <input type="text" class="form-control" {{ form.pre2 }}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="col-lg-0"> {{ form.pre3.errors }} </label>
            <label for="{{ form.pre3.id_for_label }}" class="col-lg-2 control-label">Posición frente al aborto</label>
            <div class="radio col-lg-3">
                <select class="form-control" {{ form.pre3 }}
                </select>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Opinar</button>
            </div>
        </div>
    </form>
{% endblock %}

